:root{
    --c1:#000000;
    --c2:#14213d;
    --c3:#fca311;
    --c4:#e5e5e5;
    --c5:#ffffff;
    }
    
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    
}

body{
    color:var(--c2);
    background:var(--c4);
}

.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:16px;
    margin:18px;
    background-color:var(--c5);
}

.item{
    border:1px dashed #ddd;
    border-radius:2%;
    padding:8px;

    background-color:var(--c5);
    display:flex;
    flex-direction:column;
    align-items:center;
}
.img-wrapper{
    height:auto;
    width:100%;
}

img{
    width:100%;
    height:100%;
    object-fit:contain;
}

.item-action{
    padding:16px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.item-action > a{
    text-decoration:none;
    background:#7bdff2;
    color:#fff;
    border-radius:5px;
    padding:4px 8px; 
}

.item-action > a:hover{
    background:#00a8e8;
    color:#fff;
    border-radius:50px;
    padding:4px 8px; 
    transition: 0.3s ease-in-out;
}

p{
    font-size:0.8em;
}
@media only screen and (max-width: 768px) {
    .grid-wrapper{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap:16px;
        margin:18px;
        /* background:red; */
    }
}