.glow {
    /* font-size: 80px; */
    /* color: #fff; */
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff,
            0 0 20px #fff,
            0 0 30px #ff9800,
            /* Fire color here */
            0 0 40px #f57c00,
            /* Fire color here */
            0 0 50px #e65100,
            /* Fire color here */
            0 0 60px #e65100,
            /* Fire color here */
            0 0 70px #e65100;
        /* Fire color here */
    }

    to {
        text-shadow: 0 0 20px #fff,
            0 0 30px #ff9800,
            /* Another shade of fire color here */
            0 0 40px #f57c00,
            /* Another shade of fire color here */
            0 0 50px #e65100,
            /* Another shade of fire color here */
            0 0 60px #e65100,
            /* Another shade of fire color here */
            0 0 70px #e65100,
            /* Another shade of fire color here */
            0 0 80px #e65100;
        /* Another shade of fire color here */
    }
}

.event-started {
    font-size: 2rem;
    font-weight: thin;
    color: white;
}